page-login {

}

.login-content {
	background: #6a1b9a;
	color: #fff;
	text-align: center;
}

.login {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 60px;
}