page-profile {

}

.profile {
	background: #6a1b9a;
	color: #ffffff;
	text-align: center;
}
.profile img {
	border-radius: 50%;
	width: 50%;
    height: 50%;
}
.profile h1 {
	color: rgba(255,255,255, 0.8);
}
.profile p {
	color: rgba(255,255,255, 0.5);
}
